:root {
  /* * Fonts */
  --poppins: "Poppins", sans-serif; /* 600 - Headings*/
  --opensans: "Open Sans", sans-serif; /* 400 - 700 */

  /* * Colors */
  --pink: hsl(322, 100%, 66%);
  --palecyan: hsl(193, 100%, 96%);
  --darkcyan: hsl(192, 100%, 9%);
  --grayish: hsl(208, 11%, 55%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 18px;
  max-width: 375px;
  font-family: var(--opensans);
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1440px;
    text-align: left;
  }
}

.button {
  padding: 10px 60px;
  background-color: var(--pink);
  color: var(--palecyan);
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

/* $ HEADER */

.blue {
  background-color: var(--palecyan);
  background-image: url(../assets/images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .blue {
    background-image: url(../assets/images/bg-hero-desktop.svg);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 15px 0 15px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 50px 50px;
  }
}

.header__logo {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 190px;
  }
}

.header__button {
  color: var(--darkcyan);
  word-spacing: -1px;
  background-color: #fff;
  padding: 5px 20px;
}

@media screen and (min-width: 768px) {
  .header__button {
    padding: 13px 60px;
  }
}

/* $ MAIN */

.main {
  margin: 80px 30px 60px 30px;
}

@media screen and (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 70px;
  }
}

@media screen and (min-width: 768px) {
  .main__text {
    width: 670px;
  }
}

.main__title {
  font-family: var(--poppins);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .main__title {
    font-size: 2.4rem;
  }
}

.main__subtitle {
  font-size: 1.05rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main__subtitle {
    font-size: 1.1rem;
  }
}

.main__imgbox {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .main__imgbox {
    margin-right: -50px;
    margin-left: 50px;
    margin-top: 5px;
  }
}

.main__img {
  max-width: 95%;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .main__img {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }
}

/* $ ARTICLE */

.section {
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.04),
    0 -3px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.04),
    0 -3px 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  margin: 50px 20px;
}

@media screen and (min-width: 768px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    height: 430px;
  }

  .section:first-child {
    margin-top: 160px;
  }

  .section:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 140px;
  }

  .section:nth-child(3) {
    margin-bottom: 330px;
  }
}

.section__img {
  max-width: 70%;
  margin: 50px 0;
}

@media screen and (min-width: 768px) {
  .section__img {
    max-width: 33%;
    margin-right: 35px;
  }
}

@media screen and (min-width: 768px) {
  .section__img-2 {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.section__text {
  margin: 0 35px;
}

@media screen and (min-width: 768px) {
  .section__text {
    width: 460px;
    margin-left: 120px;
  }

  .section__text:nth-child(2) {
    width: 464px;
  }
}

.section__title {
  font-family: var(--poppins);
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: var(--darkcyan);
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 1.7rem;
  }
}

.section__subtitle {
  font-size: 0.9187rem;
  color: var(--grayish);
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 1.05rem;
  }
}

/* $ SLOGAN */

.slogan {
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.04),
    0 -3px 12px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.04),
    0 -3px 12px 0 rgba(0, 0, 0, 0.04);
  border-radius: 15px;
  height: 165px;
  background-color: #fff;
  text-align: center;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
}

@media screen and (min-width: 768px) {
  .slogan {
    width: 775px;
    height: 270px;
    margin-left: 300px;
    -webkit-transform: translateY(-180px);
    -ms-transform: translateY(-180px);
    transform: translateY(-180px);
  }
}

.slogan__title {
  font-family: var(--poppins);
  font-size: 1.1rem;
  padding: 30px 0;
  color: var(--darkcyan);
}

@media screen and (min-width: 768px) {
  .slogan__title {
    font-size: 1.9rem;
    margin-bottom: 30px;
    padding-top: 55px;
  }
}

.slogan__button {
  padding: 13px 48px;
  font-size: 0.65rem;
}

@media screen and (min-width: 768px) {
  .slogan__button--big {
    padding: 30px 106px;
    border-radius: 45px;
    font-size: 1.1rem;
  }
}

/* $ FOOTER */

.footer {
  text-align: left;
  background-color: var(--darkcyan);
  color: var(--palecyan);
  padding: 0 20px 60px 20px;
  margin-top: 220px;
}

@media screen and (min-width: 768px) {
  .slogan {
    margin-bottom: -110px;
  }
}

.footer__header-img {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  margin-left: -40px;
  margin-bottom: 20px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .footer__header-img {
    margin-left: 40px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}

@media screen and (min-width: 768px) {
  .footer__main {
    display: grid;
    grid-template-columns: 415px 120px 130px 1fr;
    gap: 120px;
    margin-left: 90px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-11 {
  margin-top: 6px;
}

.footer__info-12 {
  margin-left: 20px;
  font-size: 1rem;
}

.footer__info-telf {
  color: var(--palecyan);
  margin-top: 20px;
  text-decoration: none;
}

.footer__telf {
  margin-right: 10px;
}

.footer__info-mail {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--palecyan);
  font-size: 0.9rem;
}

.footer__email {
  margin-right: 10px;
}

.footer__contact-2 {
  margin-bottom: 50px;
}

.contact {
  margin-top: 20px;
}

.footer__social {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-bottom: 70px;
  }
}

.fab {
  margin: 4px;
  border: 1px solid var(--palecyan);
  padding: 8px;
  border-radius: 24px;
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .fab {
    margin-right: 10px;
  }
}

.footer__footer-copy {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .social__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
